menu "Wifi Connect Config"

config WIFI_SSID
    string "Enter wifi SSID to connect to"
    default "Wifi SSID not set"

config WIFI_PASSWORD
    string "Enter wifi password"
    default "no password"

endmenu

menu "MQTT Connect Config"

config MQTT_BROKER_URI
    string "Enter URI of the MQTT broker to connect to"
    default "mqtt://test.mosquitto.org:1883"
        help
            this should include the port as well (eg: 1883)

endmenu